<footer class="p-footer blanc-bg">
    <div class="container">
        <div class="row">

        </div>
    </div>
</footer>
<div class="u-banner-cookies">
    <div class="u-banner-cookies_content">
        <p class="bleuFonce">En poursuivant votre navigation sur ce site,<br> vous
            acceptez que nous utilisions<br> des cookies pour mesurer l'audience de notre site.</p>
        <div class="bot">
            <button onclick="tarteaucitron.userInterface.respondAll(false);"
                class="u-banner-cookies_parametre bouton" data-accept-cookies>
                Tout refuser
            </button>
            <button onclick="tarteaucitron.userInterface.openPanel();" class="u-banner-cookies_parametre bouton"
                data-accept-cookies>
                paramètres
            </button>
            <button onclick="tarteaucitron.userInterface.respondAll(true);" class="u-banner-cookies_close bouton"
                data-accept-cookies>
                Tout accepter
            </button>
        </div>
    </div>
</div>
<!-- Scripts -->
{% block javascripts %}
    {{ encore_entry_script_tags('form-mail-contactJs') }}
    {{ encore_entry_script_tags('cookiesJs') }}
    {{ encore_entry_script_tags('app') }} 
    {{ encore_entry_script_tags('admin_article') }} 
{% endblock %}

<!-- GOOGLE MAPS API (MULTIPOINTS) -->
