<nav class="p-nav">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <div class="p-nav_logo">
                    <a class="logo" href="{{ path('accueil') }}" title="NAV_TITLE_accueil">
                        <img src="img/" alt="Logo NomDuClient">
                    </a>
                    <button id="bt-menu" class="js-menu">
                        <span class="barre"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</nav>