<h1>Bonjour, merci de confirmer votre adresse email.</h1>

<p>
    Votre inscription ne sera effective qu'après avoir confirmé votre adresse email via la lien suivant: <br><br>
    <a href="{{ signedUrl }}">Confirmer mon adresse email</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cordialement
</p>
