.c-formulaire {
    position: relative;
    overflow: hidden;

    &_field {
        position: relative;

        &+& {
            margin-top: 30px;
        }

        .form-radio {
            position: relative;
            padding-left: 30px;
            margin-bottom: 10px;

            input[type=radio],
            input[type=checkbox] {
                appearance: none;
                opacity: 0;
                width: 0;
                height: 0;
            }

            label {
                display: inline-block;
                font-family: $font;
                font-size: 12px;
                line-height: 17px;
                font-weight: normal;
                color: $noir;
                cursor: pointer;
                margin: 0;

                &:after {
                    display: block;
                    content: '';
                    width: 20px;
                    height: 20px;
                    border: solid 2px $noir;
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    z-index: 1;
                    transition: all .2s ease;
                }

                &:before {
                    display: block;
                    content: '';
                    width: 12px;
                    height: 12px;
                    background: $noir;
                    position: absolute;
                    left: 4px;
                    top: 0;
                    bottom: 0;
                    z-index: 2;
                    margin: auto;
                    transition: all .2s ease;
                    opacity: 0;
                }
            }

            input[type=radio]:checked+label,
            input[type=checkbox]:checked+label {
                &:before {
                    opacity: 1;
                }
            }
        }

        ::-webkit-input-placeholder {
            color: $noir;
            opacity: 1;
        }

        ::-moz-placeholder {
            color: $noir;
            opacity: 1;
        }

        ::-ms-placeholder {
            color: $noir;
            opacity: 1;
        }

        ::-ms-input-placeholder {
            color: $noir;
            opacity: 1;
        }

        :-ms-input-placeholder {
            color: $noir;
            opacity: 1;
        }

        input[type=tel],
        input[type=email],
        input[type=text],
        textarea {
            width: 100%;
            transition: all .5s ease;
            border: solid 2px $noir;
            color: $noir;
            font-size: 14px;
            padding: 0 15px;
            height: 50px;

            &:focus {
                background: rgba(255, 255, 255, .15);
            }

            @media (min-width:$screen-lg) {
                font-size: 16px;
                height: 7rem;
                padding: 0 20px;
            }
        }

        textarea {
            padding-top: 10px;
            height: 180px;

            @media(min-width:$screen-lg) {
                height: calc(21rem + 30px);
                padding-top: 15px;
            }
        }

        .dropdown-toggle {
            display: inline-block;
            vertical-align: middle;
            position: relative;

            .dropdown-toggle-btn {
                display: inline-flex;
                align-items: center;
                justify-content: flex-start;
                min-width: 190px;
                vertical-align: middle;
                transition: all .5s ease 0s;
                border: solid 1px $noir;
                color: $noir;
                font-size: 14px;
                height: 8rem;
                max-height: 60px;
                padding: 0 42px 0 15px;
                position: relative;

                @media (min-width:$screen-lg) {
                    font-size: 16px;
                }

                &:focus {
                    color: $blanc;
                    background: $noir;
                    border-color: $noir;
                }

                .icon-cursor {
                    width: 11px;
                    height: 11px;
                    display: inline-block;
                    border-right: solid 2px;
                    border-bottom: solid 2px;
                    transform: rotate(45deg);
                    @include position(absolute, 1, -6px, 15px, 0);
                    margin: auto;
                }
            }

            ul.dropdown {
                @include position(absolute, 2, 100%, 0, auto, 0);
                background: $noir;
                overflow: hidden;
                max-height: 0;
                transition: all .5s ease;
                font-size: 14px;

                @media (min-width:$screen-lg) {
                    font-size: 16px;
                }

                li {
                    max-height: 0;
                    padding: 0 15px;
                    line-height: 50px;
                    transition: all .5s ease;
                    color: $blanc;

                    a:hover {
                        opacity: .5;
                    }
                }

            }

            &.open {
                a.toggle {
                    transition-delay: 0s;
                }

                ul.dropdown {
                    max-height: 300px;
                    overflow: auto;
                    transition: all .5s ease 0s;

                    li {
                        max-height: 50px;
                        transition-delay: 0s;
                    }
                }
            }
        }

        &::after {
            margin-top: 0;
            display: block;
            content: "";
            height: 0;
            opacity: 0;
            transition: 0.5s all ease-out;
        }

        &.error::after {
            height: 15px;
            margin: 5px;
            content: attr(data-message);
            color: $gris;
            opacity: 1;
            font-size: 11px;
            line-height: 15px;
            letter-spacing: 0.05em;
            top: 0;
            text-align: left;
        }
    }

    // FORM FILE UPLOAD
    &_file {
        input[type=file] {
            opacity: 0;
            width: 0;
            height: 0;
            appearance: none;
            position: absolute;
        }

        label {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background: $noir;
            color: $blanc;
            cursor: pointer;
            height: 40px;
            padding: 0 20px;
            font-size: 14px;

            @media (min-width:$screen-sm) {
                font-size: 15px;
                padding: 0 25px;
                height: 50px;
            }

            @media (min-width:$screen-lg) {
                font-size: 16px;
                padding: 0 30px;
                height: 60px;
            }

            &:after,
            &:before {
                content: normal;
                display: none;
            }
        }
    }

    /*************************************************
    // FORMULAIRE / VALIDATION
    *************************************************/

    &_overlay {
        @include position(fixed, 1000, 0, 0, 0, 0);
        background-color: rgba($color: $noir, $alpha: .8);
        width: auto;
        transition: all .6s ease;
        cursor: pointer;

        @media (max-width:$screen-md) and (min-width: $screen-sm) {
            width: calc(100% - 30px);
            margin: auto;
        }

        &_text {
            @include position(absolute, 100, 40%, 0, auto, 0);
            margin: auto;
            width: 100%;
            height: auto;
            min-height: auto;
            display: block;
            opacity: 0;
            transform: translateY(-50%);
            transition: all .5s ease;

            @media (min-width:$screen-sm) {
                width: 75%;
            }

            @media (min-width:$screen-lg) {
                width: 60%;
            }

            p {
                line-height: 1.33;
                text-align: center;
                color: $noir;
                font-weight: 600;
                font-size: 16px;
                padding: 5vw 30px;
                background: rgba(255, 255, 255, .85);

                @media (min-width:$screen-md) {
                    font-size: 18px;
                }

                @media (min-width:$screen-lg) {
                    font-size: 20px;
                }

                @media (min-width:$screen-xl) {
                    font-size: 24px;
                }

                .icon {
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    width: 25px;
                    height: auto;
                }
            }

            &.active {
                opacity: 1;
                top: 50%;
            }
        }

        &.close {
            opacity: 0;

            .form-msg {
                opacity: 0;
                top: 60%;
            }
        }

        &.under {
            z-index: -1;
        }
    }
}