<!DOCTYPE html>
<html lang="fr" class="?php echo $classHTML; ?>">
    <head>{% include '_includes/_head.html.twig' %}</head>

    <body id="top-page" class= {{ PAGE_name }}>
        {% include '_includes/_nav.html.twig' %}
        {% include '_includes/_menu.html.twig' %}

        <div id="wrapper" class="blanc-bg">
            {% include '_includes/_header.html.twig' %}
            {% block wrapper %}Hello world!{% endblock %}
            {% include '_includes/_footer.html.twig' %}
            <!-- END WRAPPER -->
        </div>
    </body>
</html>