.login {
    .login-section {
        .labelTitle {
            margin-top: 1rem;
            padding: 10px 0;
            font-size: 1.4rem;
            color: black;
        }

        #container {
            width: 400px;
            margin: 0 auto;
            margin-top: 10%;
        }

        form {
            width: 100%;
            padding: 30px;
            border: 1px solid #f1f1f1;
            background-color: #fff;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        }

        .form-control {
            border: 1px solid #f1f1f1;
        }

        #container h1 {
            // width: 100%; /*38%*/
            margin: 0 auto;
            margin-bottom: 2rem;
            padding-bottom: 10px;
            text-align: center;
            color: black;
        }

        .alert-login {
            color: rgb(243, 62, 62);
        }

        input[type=email],
        input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        input[type=submit] {
            font-size: 1.4rem;
            background-color: black;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }
        input[type=submit]:hover {
            background-color: white;
            color: black;
            border: 1px solid black;
        }
    }
}